/**
 *    Website Style Definitions
 */

/* Content Definitions */
@MainContentWidth: 1024px;
@ResponsoveWidthBegin: 1040px;


/* Font Types */
@FontHead: Arial, Verdana;
@FontText: Arial, Verdana;
@FontConsole: Courier New, Courier;

@FontSizeNormalText: 18;
@FontLineHeightNormalText: 22;


/**
 *   Import Styles from Plug-Ins
 */
@import (inline) '../../bower_components/normalize-css/normalize.css';
@import (inline) '../../bower_components/jQueryui/themes/base/jquery-ui.css';
@import (inline) '../../bower_components/font-awesome/css/font-awesome.css';
@import (inline) '../../bower_components/Buttons/css/buttons.css';

/**
 *   Load Less Tookit Mixins
 */
@import '../../bower_components/CSSLessCollection/CSSLessCollectionDefinitions';
@import '../../bower_components/CSSLessCollection/CSSLessCollectionMixins';

/**
 *    Load Page Style files
 */
@import 'MainStyle';
