//###########################################
//##       Website Style Definitions       ##
//###########################################

// Content Definitions
$MainContentWidth: 1024px;
$ResponsoveWidthBegin: 1040px;


// Font Types
$FontHead: Arial, Verdana;
$FontText: Arial, Verdana;
$FontConsole: Courier New, Courier;

$FontSizeNormalText: 18;
$FontLineHeightNormalText: 22;


//  Import Styles from Plug-Ins
<% if (includeFoundation) { %>@import '/bower_components/foundation/scss/normalize';
@import '/bower_components/foundation/scss/foundation';<% } %>
@import 'ImportLibrary';


<% if (includeSassCollection) { %>//  Load Sass Tookit Mixins
@import '/bower_components/CSSSassCollection/CSSSassCollectionDefinitions';
@import '/bower_components/CSSSassCollection/CSSSassCollectionMixins';<% } %>


//    Load Page Style files
@import 'MainStyle';
